<div class="parent">
    <div class='child'>
        <h3>Filtros</h3>
        <div class="dropdown">
        <button class="dropbtn">Marca</button>
            <div class="dropdown-content">
                <a href="#">De la rosa</a>
                <a href="#">Dragoncitos</a>
                <a href="#">Pavito</a>
            </div>
        </div>
    </div>
    <div class="child">
    {{#each productos}}
        <div class="card">
                <h4>{{nombre}} <a href="/producto/edit/{{_id}}"><i>icono_edit</i></a></h4>
                <p>{{marca}}</p>
                <p>{{imagenes}}</p>
                <form action="/producto/delete/{{_id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="sumbmit">Delete</button>
                </form>
                <a href="/producto/ver/{{_id}}"><i>icono_ver</i></a>
        </div>
    {{/each}}
    </div>    
</div>




<body>
    <section>
        <div class="container-xl rectangulo p-4">
            <!--Desde aqui empieza el CSS y las tarjetas-->
            <div class="cols">
                <!--Tarjeta 1-->
                <div class="columnaCard" ontouchstart="this.classList.toggle('hover');">
                    <div class="containerCard">
                        <div class="frontCard" style="background-image:url(/images/ACIDULADITO.jpg)">
                            <div class="innerCard">
                                <p>Aciduladito</p>
                            </div>
                        </div>
                        <div class="backCard" style="background-image: url(/images/ACIDULADITO.jpg);">
                            <div class="innerCard">
                                <p>Dulce suave picoso</p>
                            </div>
                        </div>

                        <form action="/producto/delete/{{_id}}?_method=DELETE" method="POST">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="sumbmit">Delete</button>
                        </form>
                        <a href="/producto/ver/{{_id}}"><i>icono_ver</i></a>
                        
                    </div>
                </div>
                <!--Tarjeta 2-->
                <div class="columnaCard" ontouchstart="this.classList.toggle('hover');">
                    <div class="containerCard">
                        <div class="frontCard" style="background-image:url(/images/ALMENDRAS_CONFITADAS.jpg)">
                            <div class="innerCard">
                                <p>Almendras Confitadas</p>
                            </div>
                        </div>
                        <div class="backCard" style="background-image: url(/images/ALMENDRAS_CONFITADAS.jpg);">
                            <div class="innerCard">
                                <p>Almendras con cubierta</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Tarjeta 3-->
                <div class="columnaCard" ontouchstart="this.classList.toggle('hover');">
                    <div class="containerCard">
                        <div class="frontCard" style="background-image:url(/images/BIANCHI.jpg)">
                            <div class="innerCard">
                                <p>Malvavisco Bianchi de Chocolate</p>
                            </div>
                        </div>
                        <div class="backCard" style="background-image: url(/images/ACIDULADITO.jpg);">
                            <div class="innerCard">
                                <p>Malvavisco cubierto de chocolate</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Tarjeta 4-->
                <div class="columnaCard" ontouchstart="this.classList.toggle('hover');">
                    <div class="containerCard">
                        <div class="frontCard" style="background-image:url(/images/BOCADIN.jpg)">
                            <div class="innerCard">
                                <p>Bocadin</p>
                            </div>
                        </div>
                        <div class="backCard" style="background-image: url(/images/BOCADIN.jpg);">
                            <div class="innerCard">
                                <p>Dulce de chocolate</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Tarjeta 5-->
                <div class="columnaCard" ontouchstart="this.classList.toggle('hover');">
                    <div class="containerCard">
                        <div class="frontCard" style="background-image:url(/images/BUBBALOO_FRESA.jpg)">
                            <div class="innerCard">
                                <p>Bubbaloo de Fresa</p>
                            </div>
                        </div>
                        <div class="backCard" style="background-image: url(/images/BUBBALOO_FRESA.jpg);">
                            <div class="innerCard">
                                <p>Goma de mascar con relleno sabor fresa</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Tarjeta 6-->
                <div class="columnaCard" ontouchstart="this.classList.toggle('hover');">
                    <div class="containerCard">
                        <div class="frontCard" style="background-image:url(/images/BUBULUBU.jpg)">
                            <div class="innerCard">
                                <p>Bubulubu</p>
                            </div>
                        </div>
                        <div class="backCard" style="background-image: url(/images/BUBULUBU.jpg);">
                            <div class="innerCard">
                                <p>Dulce suave cubierto de chocolate y con relleno sabor fresa</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Tarjeta 7-->
                <div class="columnaCard" ontouchstart="this.classList.toggle('hover');">
                    <div class="containerCard">
                        <div class="frontCard" style="background-image:url(/images/CARLOSV_ORIGINAL.jpg)">
                            <div class="innerCard">
                                <p>Chocolate Carlos V clasico</p>
                            </div>
                        </div>
                        <div class="backCard" style="background-image: url(/images/CARLOSV_ORIGINAL.jpg);">
                            <div class="innerCard">
                                <p>Barra de chocolate</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Tarjeta 8-->
                <div class="columnaCard" ontouchstart="this.classList.toggle('hover');">
                    <div class="containerCard">
                        <div class="frontCard" style="background-image:url(/images/CRUNCH_CRISP.jpg)">
                            <div class="innerCard">
                                <p>Crunch Crisp</p>
                            </div>
                        </div>
                        <div class="backCard" style="background-image: url(/images/CRUNCH_CRISP.jpg);">
                            <div class="innerCard">
                                <p>Barra de galleta cubierta de chocolate</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Tarjeta 9-->
                <div class="columnaCard" ontouchstart="this.classList.toggle('hover');">
                    <div class="containerCard">
                        <div class="frontCard" style="background-image:url(/images/CRUNCH.jpg)">
                            <div class="innerCard">
                                <p>Crunch</p>
                            </div>
                        </div>
                        <div class="backCard" style="background-image: url(/images/CRUNCH.jpg);">
                            <div class="innerCard">
                                <p>Barra de chocolate</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Tarjeta 10-->
                <div class="columnaCard" ontouchstart="this.classList.toggle('hover');">
                    <div class="containerCard">
                        <div class="frontCard" style="background-image:url(/images/DAMY.jpg)">
                            <div class="innerCard">
                                <p>Damy</p>
                            </div>
                        </div>
                        <div class="backCard" style="background-image: url(/images/DAMY.jpg);">
                            <div class="innerCard">
                                <p>No se que son estas weas</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Tarjeta 11-->
                <div class="columnaCard" ontouchstart="this.classList.toggle('hover');">
                    <div class="containerCard">
                        <div class="frontCard" style="background-image:url(/images/DELICE.jpg)">
                            <div class="innerCard">
                                <p>Kinder Delice</p>
                            </div>
                        </div>
                        <div class="backCard" style="background-image: url(/images/DELICE.jpg);">
                            <div class="innerCard">
                                <p>Pastelito de chocolate</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Tarjeta 12-->
                <div class="columnaCard" ontouchstart="this.classList.toggle('hover');">
                    <div class="containerCard">
                        <div class="frontCard" style="background-image:url(/images/DRAGONZITOS.jpg)">
                            <div class="innerCard">
                                <p>Dragoncitos</p>
                            </div>
                        </div>
                        <div class="backCard" style="background-image: url(/images/DRAGONZITOS.jpg);">
                            <div class="innerCard">
                                <p>Polvito de chile</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Tarjeta 13-->
                <div class="columnaCard" ontouchstart="this.classList.toggle('hover');">
                    <div class="containerCard">
                        <div class="frontCard" style="background-image:url(/images/DUVALIN.jpg)">
                            <div class="innerCard">
                                <p>Duvalin</p>
                            </div>
                        </div>
                        <div class="backCard" style="background-image: url(/images/DUVALIN.jpg);">
                            <div class="innerCard">
                                <p>Crema dulce de sabores fresa, vainilla y chocolate</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Tarjeta 14-->
                <div class="columnaCard" ontouchstart="this.classList.toggle('hover');">
                    <div class="containerCard">
                        <div class="frontCard" style="background-image:url(/images/FERRERO_ROCHER.jpg)">
                            <div class="innerCard">
                                <p>Ferrero Rocher</p>
                            </div>
                        </div>
                        <div class="backCard" style="background-image: url(/images/FERRERO_ROCHER.jpg);">
                            <div class="innerCard">
                                <p>Chocolate con nuez</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Tarjeta 15-->
                <div class="columnaCard" ontouchstart="this.classList.toggle('hover');">
                    <div class="containerCard">
                        <div class="frontCard" style="background-image:url(/images/GALLETAS_AVENA.jpg)">
                            <div class="innerCard">
                                <p>Galletas de avena</p>
                            </div>
                        </div>
                        <div class="backCard" style="background-image: url(/images/GALLETAS_AVENA.jpg);">
                            <div class="innerCard">
                                <p>Galletas con avenas</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Tarjeta 16-->
                <div class="columnaCard" ontouchstart="this.classList.toggle('hover');">
                    <div class="containerCard">
                        <div class="frontCard" style="background-image:url(/images/GANSITO.jpg)">
                            <div class="innerCard">
                                <p>Gansito</p>
                            </div>
                        </div>
                        <div class="backCard" style="background-image: url(/images/GANSITO.jpg);">
                            <div class="innerCard">
                                <p>Pastelito de chocolate con relleno sabor fresa</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Tarjeta 17-->
                <div class="columnaCard" ontouchstart="this.classList.toggle('hover');">
                    <div class="containerCard">
                        <div class="frontCard" style="background-image:url(/images/GLORIAS.jpg)">
                            <div class="innerCard">
                                <p>Glorias</p>
                            </div>
                        </div>
                        <div class="backCard" style="background-image: url(/images/GLORIAS.jpg);">
                            <div class="innerCard">
                                <p>Dulce de cajeta con trozos de nuez</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Tarjeta 18-->
                <div class="columnaCard" ontouchstart="this.classList.toggle('hover');">
                    <div class="containerCard">
                        <div class="frontCard" style="background-image:url(/images/KINDER_BUENO.jpg)">
                            <div class="innerCard">
                                <p>Kinder Bueno</p>
                            </div>
                        </div>
                        <div class="backCard" style="background-image: url(/images/KINDER_BUENO.jpg);">
                            <div class="innerCard">
                                <p>Barra de galleta cubierta de chocolate</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Tarjeta 19-->
                <div class="columnaCard" ontouchstart="this.classList.toggle('hover');">
                    <div class="containerCard">
                        <div class="frontCard" style="background-image:url(/images/KISSES.jpg)">
                            <div class="innerCard">
                                <p>Kisses</p>
                            </div>
                        </div>
                        <div class="backCard" style="background-image: url(/images/KISSES.jpg);">
                            <div class="innerCard">
                                <p>Chocolates</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Tarjeta 20-->
                <div class="columnaCard" ontouchstart="this.classList.toggle('hover');">
                    <div class="containerCard">
                        <div class="frontCard" style="background-image:url(/images/LARIN_CERO.jpg)">
                            <div class="innerCard">
                                <p>Larin Cero</p>
                            </div>
                        </div>
                        <div class="backCard" style="background-image: url(/images/LARIN_CERO.jpg);">
                            <div class="innerCard">
                                <p>Barra de chocolate con cero azucar</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Tarjeta 21-->
                <div class="columnaCard" ontouchstart="this.classList.toggle('hover');">
                    <div class="containerCard">
                        <div class="frontCard" style="background-image:url(/images/LARIN_NUEZ.jpg)">
                            <div class="innerCard">
                                <p>Larin Nuez</p>
                            </div>
                        </div>
                        <div class="backCard" style="background-image: url(/images/LARIN_NUEZ.jpg);">
                            <div class="innerCard">
                                <p>Barra de chocolate con nuez</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Tarjeta 22-->
                <div class="columnaCard" ontouchstart="this.classList.toggle('hover');">
                    <div class="containerCard">
                        <div class="frontCard" style="background-image:url(/images/MAGNUM_VEGANA.jpg)">
                            <div class="innerCard">
                                <p>Magnum vegana</p>
                            </div>
                        </div>
                        <div class="backCard" style="background-image: url(/images/MAGNUM_VEGANA.jpg);">
                            <div class="innerCard">
                                <p>Paleta hecha con leche de almendra</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Tarjeta 23-->
                <div class="columnaCard" ontouchstart="this.classList.toggle('hover');">
                    <div class="containerCard">
                        <div class="frontCard" style="background-image:url(/images/MALVABON.jpg)">
                            <div class="innerCard">
                                <p>Malvabon</p>
                            </div>
                        </div>
                        <div class="backCard" style="background-image: url(/images/MALVABON.jpg);">
                            <div class="innerCard">
                                <p>Malvavisco cubierto de chocolate</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Tarjeta 24-->
                <div class="columnaCard" ontouchstart="this.classList.toggle('hover');">
                    <div class="containerCard">
                        <div class="frontCard" style="background-image:url(/images/MALVAVISCOS_CHOCOLATE.jpg)">
                            <div class="innerCard">
                                <p>Malvaviscos chocolate</p>
                            </div>
                        </div>
                        <div class="backCard" style="background-image: url(/images/MALVAVISCOS_CHOCOLATE.jpg);">
                            <div class="innerCard">
                                <p>Malvaviscos cubiertos de chocolate</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Tarjeta 25-->
                <div class="columnaCard" ontouchstart="this.classList.toggle('hover');">
                    <div class="containerCard">
                        <div class="frontCard" style="background-image:url(/images/MALVAVISCOS_MINI.jpg)">
                            <div class="innerCard">
                                <p>Malvaviscos mini</p>
                            </div>
                        </div>
                        <div class="backCard" style="background-image: url(/images/MALVAVISCOS_MINI.jpg);">
                            <div class="innerCard">
                                <p>Malvaviscos clasicos</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Tarjeta 26-->
                <div class="columnaCard" ontouchstart="this.classList.toggle('hover');">
                    <div class="containerCard">
                        <div class="frontCard" style="background-image:url(/images/MAMUT.jpg)">
                            <div class="innerCard">
                                <p>Mamut</p>
                            </div>
                        </div>
                        <div class="backCard" style="background-image: url(/images/MAMUT.jpg);">
                            <div class="innerCard">
                                <p>Galleta de bombon cubierta de chocolate</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Tarjeta 27-->
                <div class="columnaCard" ontouchstart="this.classList.toggle('hover');">
                    <div class="containerCard">
                        <div class="frontCard" style="background-image:url(/images/MANCHA_T.jpg)">
                            <div class="innerCard">
                                <p>Mancha T</p>
                            </div>
                        </div>
                        <div class="backCard" style="background-image: url(/images/MANCHA_T.jpg);">
                            <div class="innerCard">
                                <p>Gomitas de chile</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Tarjeta 28-->
                <div class="columnaCard" ontouchstart="this.classList.toggle('hover');">
                    <div class="containerCard">
                        <div class="frontCard" style="background-image:url(/images/MANDMS.jpg)">
                            <div class="innerCard">
                                <p>M&M's</p>
                            </div>
                        </div>
                        <div class="backCard" style="background-image: url(/images/MANDMS.jpg);">
                            <div class="innerCard">
                                <p>Chocolate confitado</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Tarjeta 29-->
                <div class="columnaCard" ontouchstart="this.classList.toggle('hover');">
                    <div class="containerCard">
                        <div class="frontCard" style="background-image:url(/images/MANDMSA.jpg)">
                            <div class="innerCard">
                                <p>M&M's almendra</p>
                            </div>
                        </div>
                        <div class="backCard" style="background-image: url(/images/MANDMSA.jpg);">
                            <div class="innerCard">
                                <p>Almendra cubierta de chocolate</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Tarjeta 30-->
                <div class="columnaCard" ontouchstart="this.classList.toggle('hover');">
                    <div class="containerCard">
                        <div class="frontCard" style="background-image:url(/images/MARINA_CHICA.jpg)">
                            <div class="innerCard">
                                <p>Marina chica</p>
                            </div>
                        </div>
                        <div class="backCard" style="background-image: url(/images/MARINA_CHICA.jpg);">
                            <div class="innerCard">
                                <p>Dulce de cajeta con nuez</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Tarjeta 31-->
                <div class="columnaCard" ontouchstart="this.classList.toggle('hover');">
                    <div class="containerCard">
                        <div class="frontCard" style="background-image:url(/images/MAZAPAN_LECHE_ALMENDRA.jpg)">
                            <div class="innerCard">
                                <p>Mazapan de leche de almendra</p>
                            </div>
                        </div>
                        <div class="backCard" style="background-image: url(/images/MAZAPAN_LECHE_ALMENDRA.jpg);">
                            <div class="innerCard">
                                <p>Mazapan elaborado con leche de almendra</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Tarjeta 32-->
                <div class="columnaCard" ontouchstart="this.classList.toggle('hover');">
                    <div class="containerCard">
                        <div class="frontCard" style="background-image:url(/images/MAZAPAN.jpg)">
                            <div class="innerCard">
                                <p>Mazapan de cacahuate</p>
                            </div>
                        </div>
                        <div class="backCard" style="background-image: url(/images/MAZAPAN.jpg);">
                            <div class="innerCard">
                                <p>El clasico mazapan de cacahuate</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Tarjeta 33-->
                <div class="columnaCard" ontouchstart="this.classList.toggle('hover');">
                    <div class="containerCard">
                        <div class="frontCard" style="background-image:url(/images/OBLEAS_MINI.jpg)">
                            <div class="innerCard">
                                <p>Obleas mini</p>
                            </div>
                        </div>
                        <div class="backCard" style="background-image: url(/images/OBLEAS_MINI.jpg);">
                            <div class="innerCard">
                                <p>Oblea rellena de cajeta</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Tarjeta 34-->
                <div class="columnaCard" ontouchstart="this.classList.toggle('hover');">
                    <div class="containerCard">
                        <div class="frontCard" style="background-image:url(/images/PALANQUETA.jpg)">
                            <div class="innerCard">
                                <p>Palanqueta</p>
                            </div>
                        </div>
                        <div class="backCard" style="background-image: url(/images/PALANQUETA.jpg);">
                            <div class="innerCard">
                                <p>Dulce de cacahuate</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Tarjeta 35-->
                <div class="columnaCard" ontouchstart="this.classList.toggle('hover');">
                    <div class="containerCard">
                        <div class="frontCard" style="background-image:url(/images/PALETAS_CAJETA.jpg)">
                            <div class="innerCard">
                                <p>Paleta de cajeta coronado</p>
                            </div>
                        </div>
                        <div class="backCard" style="background-image: url(/images/PALETAS_CAJETA.jpg);">
                            <div class="innerCard">
                                <p>Paleta elaborada de cajeta</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Tarjeta 36-->
                <div class="columnaCard" ontouchstart="this.classList.toggle('hover');">
                    <div class="containerCard">
                        <div class="frontCard" style="background-image:url(/images/PALETAS_PAYASO.jpg)">
                            <div class="innerCard">
                                <p>Paletas payaso</p>
                            </div>
                        </div>
                        <div class="backCard" style="background-image: url(/images/PALETAS_PAYASO.jpg);">
                            <div class="innerCard">
                                <p>Paleta de bombon cuebierta de chocolate</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Tarjeta 37-->
                <div class="columnaCard" ontouchstart="this.classList.toggle('hover');">
                    <div class="containerCard">
                        <div class="frontCard" style="background-image:url(/images/PANDITAS_ROJOS.jpg)">
                            <div class="innerCard">
                                <p>Panditas rojos</p>
                            </div>
                        </div>
                        <div class="backCard" style="background-image: url(/images/PANDITAS_ROJOS.jpg);">
                            <div class="innerCard">
                                <p>Ositos de gomita sabor fresa</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Tarjeta 38-->
                <div class="columnaCard" ontouchstart="this.classList.toggle('hover');">
                    <div class="containerCard">
                        <div class="frontCard" style="background-image:url(/images/PICAFRESA.jpg)">
                            <div class="innerCard">
                                <p>Pica fresa</p>
                            </div>
                        </div>
                        <div class="backCard" style="background-image: url(/images/PICAFRESA.jpg);">
                            <div class="innerCard">
                                <p>Gomita sabor fresa cubierta de chile en polvo</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Tarjeta 39-->
                <div class="columnaCard" ontouchstart="this.classList.toggle('hover');">
                    <div class="containerCard">
                        <div class="frontCard" style="background-image:url(/images/SURTIDO.jpg)">
                            <div class="innerCard">
                                <p>Surtido</p>
                            </div>
                        </div>
                        <div class="backCard" style="background-image: url(/images/SURTIDO.jpg);">
                            <div class="innerCard">
                                <p>Dulces de cajeta</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Tarjeta 40-->
                <div class="columnaCard" ontouchstart="this.classList.toggle('hover');">
                    <div class="containerCard">
                        <div class="frontCard" style="background-image:url(/images/TARRITO.jpg)">
                            <div class="innerCard">
                                <p>Tarrito</p>
                            </div>
                        </div>
                        <div class="backCard" style="background-image: url(/images/TARRITO.jpg);">
                            <div class="innerCard">
                                <p>Paleta sabor piña</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

