<!--
<div class="parent">
    <div class='child'>
        <h3>Filtros</h3>
        <div class="dropdown">
        <button class="dropbtn">Marca</button>
            <div class="dropdown-content">
                <a href="#">De la rosa</a>
                <a href="#">Dragoncitos</a>
                <a href="#">Pavito</a>
            </div>
        </div>
    </div>
    <div class="child">
    {{#each productos}}
        <div class="card">
                <h4>{{nombre}} <a href="/producto/edit/{{_id}}"><i>icono_edit</i></a></h4>
                <p>{{marca}}</p>
                <p>{{imagenes}}</p>
                <form action="/producto/delete/{{_id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="sumbmit">Delete</button>
                </form>
                <a href="/producto/ver/{{_id}}"><i>icono_ver</i></a>
        </div>
    {{/each}}
    </div>    
</div>
-->

<body>
    <section>
        <div class="container-xl rectangulo p-4">
            <div class="cols">
                {{#each productos}}
                <div class="columnaCard" ontouchstart="this.classList.toggle('hover');">
                    <div class="containerCard">
                        <div class="frontCard" style="background-image:url({{imagenes}})">
                            <div class="innerCard">
                                <p>{{nombre}}</p>       
                            </div>
                        </div>
                        <div class="backCard" style="background-image: url({{imagenes}});">
                            <div class="innerCard">
                                

    
                                <div class="buttonCard">
                                    
                                    <form action="/producto/edit/{{_id}}" method="">
                                        <button type="submit">Editar</button>
                                    </form>

                                    <form action="/producto/delete/{{_id}}?_method=DELETE" method="POST">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <button type="sumbmit">Eliminar</button>
                                    </form>
                                    
                                    <form action="/producto/ver/{{_id}}">
                                        <button type="submit">Ver</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </section>
</body>
