<!-- <h1>{{producto.nombre}}</h1>
<div>
    <div>imagen de producto</div>
    <div>imagen de sus componentes</div>
    <p>Elementos: {{producto.elementos}}</p>
    <p>Categoria: {{producto.categoria}}</p>    
</div>
<div>
    <h2>Sustitutos</h2>
    <div class="child">
        {{#if productoSus}}                 
            {{#each productoSus}}
                <div class="card">
                        <h4>{{nombre}}</h4>
                        <p>{{marca}}</p>
                        <p>{{imagenes}}</p>
                        <p>{{elementos}}</p>
                        <p>{{categoria}}</p>
                        <a href="/producto/ver/{{_id}}"><i>icono_ver</i></a>
                </div>
            {{/each}}
        {{else}}
            <p>No hay sustitutos en datos...</p>
        {{/if}}
    </div>
</div>

</div>

-->

<section> 
  <div class="container-sm rectangulo "> 
      <div class="row ">
        
        <div class="col"> 
            <div class="row">
          <h2 class="titulo2 pt-md-5 m-4" align="center">{{producto.nombre}}</h2>
          {{#each producto.imagenes}}
          <img src="{{this}}" class="img-fluid  p-5 mt-xxl-4">
          {{/each}}
                        

        </div>
        </div>
            
            
        <div class="col-7 rectangulo4 p-5">
            
          <div class="row"> 
              
            <div class="col ">
                <h2 class="gy-4 titulo7 p-2"><svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M13.5 9C12.67 9 12 8.33 12 7.5V2.5C12 1.67 12.67 1 13.5 1C14.33 1 15 1.67 15 2.5V7.5C15 8.33 14.33 9 13.5 9Z" stroke="#260077" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M19.5 9H18V7.5C18 6.67 18.67 6 19.5 6C20.33 6 21 6.67 21 7.5C21 8.33 20.33 9 19.5 9Z" stroke="#260077" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M8.5 13C9.33 13 10 13.67 10 14.5V19.5C10 20.33 9.33 21 8.5 21C7.67 21 7 20.33 7 19.5V14.5C7 13.67 7.67 13 8.5 13Z" stroke="#260077" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M2.5 13H4V14.5C4 15.33 3.33 16 2.5 16C1.67 16 1 15.33 1 14.5C1 13.67 1.67 13 2.5 13Z" stroke="#260077" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M13 13.5C13 12.67 13.67 12 14.5 12H19.5C20.33 12 21 12.67 21 13.5C21 14.33 20.33 15 19.5 15H14.5C13.67 15 13 14.33 13 13.5Z" stroke="#260077" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M14.5 18H13V19.5C13 20.33 13.67 21 14.5 21C15.33 21 16 20.33 16 19.5C16 18.67 15.33 18 14.5 18Z" stroke="#260077" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M9 8.5C9 7.67 8.33 7 7.5 7H2.5C1.67 7 1 7.67 1 8.5C1 9.33 1.67 10 2.5 10H7.5C8.33 10 9 9.33 9 8.5Z" stroke="#260077" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M7.5 4H9V2.5C9 1.67 8.33 1 7.5 1C6.67 1 6 1.67 6 2.5C6 3.33 6.67 4 7.5 4Z" stroke="#260077" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                 </svg>Descripción del producto: <i class="titulo8">{{producto.descripcion}}</i></h2>
                                 <h2 class="gy-4 titulo7 p-2" ><svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">

                 <path d="M13.5 9C12.67 9 12 8.33 12 7.5V2.5C12 1.67 12.67 1 13.5 1C14.33 1 15 1.67 15 2.5V7.5C15 8.33 14.33 9 13.5 9Z" stroke="#260077" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M19.5 9H18V7.5C18 6.67 18.67 6 19.5 6C20.33 6 21 6.67 21 7.5C21 8.33 20.33 9 19.5 9Z" stroke="#260077" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M8.5 13C9.33 13 10 13.67 10 14.5V19.5C10 20.33 9.33 21 8.5 21C7.67 21 7 20.33 7 19.5V14.5C7 13.67 7.67 13 8.5 13Z" stroke="#260077" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M2.5 13H4V14.5C4 15.33 3.33 16 2.5 16C1.67 16 1 15.33 1 14.5C1 13.67 1.67 13 2.5 13Z" stroke="#260077" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M13 13.5C13 12.67 13.67 12 14.5 12H19.5C20.33 12 21 12.67 21 13.5C21 14.33 20.33 15 19.5 15H14.5C13.67 15 13 14.33 13 13.5Z" stroke="#260077" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M14.5 18H13V19.5C13 20.33 13.67 21 14.5 21C15.33 21 16 20.33 16 19.5C16 18.67 15.33 18 14.5 18Z" stroke="#260077" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M9 8.5C9 7.67 8.33 7 7.5 7H2.5C1.67 7 1 7.67 1 8.5C1 9.33 1.67 10 2.5 10H7.5C8.33 10 9 9.33 9 8.5Z" stroke="#260077" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M7.5 4H9V2.5C9 1.67 8.33 1 7.5 1C6.67 1 6 1.67 6 2.5C6 3.33 6.67 4 7.5 4Z" stroke="#260077" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
               </svg> Marca: <i class="titulo8">{{producto.marca}}</i></h2> 
                               <h2 class="gy-4 titulo7 p-2"><svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                 <path d="M13.5 9C12.67 9 12 8.33 12 7.5V2.5C12 1.67 12.67 1 13.5 1C14.33 1 15 1.67 15 2.5V7.5C15 8.33 14.33 9 13.5 9Z" stroke="#260077" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M19.5 9H18V7.5C18 6.67 18.67 6 19.5 6C20.33 6 21 6.67 21 7.5C21 8.33 20.33 9 19.5 9Z" stroke="#260077" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M8.5 13C9.33 13 10 13.67 10 14.5V19.5C10 20.33 9.33 21 8.5 21C7.67 21 7 20.33 7 19.5V14.5C7 13.67 7.67 13 8.5 13Z" stroke="#260077" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M2.5 13H4V14.5C4 15.33 3.33 16 2.5 16C1.67 16 1 15.33 1 14.5C1 13.67 1.67 13 2.5 13Z" stroke="#260077" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M13 13.5C13 12.67 13.67 12 14.5 12H19.5C20.33 12 21 12.67 21 13.5C21 14.33 20.33 15 19.5 15H14.5C13.67 15 13 14.33 13 13.5Z" stroke="#260077" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M14.5 18H13V19.5C13 20.33 13.67 21 14.5 21C15.33 21 16 20.33 16 19.5C16 18.67 15.33 18 14.5 18Z" stroke="#260077" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M9 8.5C9 7.67 8.33 7 7.5 7H2.5C1.67 7 1 7.67 1 8.5C1 9.33 1.67 10 2.5 10H7.5C8.33 10 9 9.33 9 8.5Z" stroke="#260077" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M7.5 4H9V2.5C9 1.67 8.33 1 7.5 1C6.67 1 6 1.67 6 2.5C6 3.33 6.67 4 7.5 4Z" stroke="#260077" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                 </svg>Categorias: <i class="titulo8 ">{{producto.categoria}}</i> </h2>
                 <div class="list justify-center ms-lg-5" >   
              {{#each producto.categoria}} 
                        
              <img  src=/images/{{this}}.png>              
              {{/each}}  
              </div>
            </div>
          </div>
            
          <div class="row">
            <h2 class="gy-4 titulo7 p-2" > <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M13.5 9C12.67 9 12 8.33 12 7.5V2.5C12 1.67 12.67 1 13.5 1C14.33 1 15 1.67 15 2.5V7.5C15 8.33 14.33 9 13.5 9Z" stroke="#260077" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M19.5 9H18V7.5C18 6.67 18.67 6 19.5 6C20.33 6 21 6.67 21 7.5C21 8.33 20.33 9 19.5 9Z" stroke="#260077" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M8.5 13C9.33 13 10 13.67 10 14.5V19.5C10 20.33 9.33 21 8.5 21C7.67 21 7 20.33 7 19.5V14.5C7 13.67 7.67 13 8.5 13Z" stroke="#260077" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M2.5 13H4V14.5C4 15.33 3.33 16 2.5 16C1.67 16 1 15.33 1 14.5C1 13.67 1.67 13 2.5 13Z" stroke="#260077" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M13 13.5C13 12.67 13.67 12 14.5 12H19.5C20.33 12 21 12.67 21 13.5C21 14.33 20.33 15 19.5 15H14.5C13.67 15 13 14.33 13 13.5Z" stroke="#260077" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M14.5 18H13V19.5C13 20.33 13.67 21 14.5 21C15.33 21 16 20.33 16 19.5C16 18.67 15.33 18 14.5 18Z" stroke="#260077" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M9 8.5C9 7.67 8.33 7 7.5 7H2.5C1.67 7 1 7.67 1 8.5C1 9.33 1.67 10 2.5 10H7.5C8.33 10 9 9.33 9 8.5Z" stroke="#260077" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M7.5 4H9V2.5C9 1.67 8.33 1 7.5 1C6.67 1 6 1.67 6 2.5C6 3.33 6.67 4 7.5 4Z" stroke="#260077" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>  Ingredientes alergenos: <i class="titulo8">{{producto.elementos}}</i></h2>

{{#if producto.trazas}}
            <h2 class="gy-4 titulo7 p-2"> <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M13.5 9C12.67 9 12 8.33 12 7.5V2.5C12 1.67 12.67 1 13.5 1C14.33 1 15 1.67 15 2.5V7.5C15 8.33 14.33 9 13.5 9Z" stroke="#260077" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M19.5 9H18V7.5C18 6.67 18.67 6 19.5 6C20.33 6 21 6.67 21 7.5C21 8.33 20.33 9 19.5 9Z" stroke="#260077" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M8.5 13C9.33 13 10 13.67 10 14.5V19.5C10 20.33 9.33 21 8.5 21C7.67 21 7 20.33 7 19.5V14.5C7 13.67 7.67 13 8.5 13Z" stroke="#260077" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M2.5 13H4V14.5C4 15.33 3.33 16 2.5 16C1.67 16 1 15.33 1 14.5C1 13.67 1.67 13 2.5 13Z" stroke="#260077" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M13 13.5C13 12.67 13.67 12 14.5 12H19.5C20.33 12 21 12.67 21 13.5C21 14.33 20.33 15 19.5 15H14.5C13.67 15 13 14.33 13 13.5Z" stroke="#260077" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M14.5 18H13V19.5C13 20.33 13.67 21 14.5 21C15.33 21 16 20.33 16 19.5C16 18.67 15.33 18 14.5 18Z" stroke="#260077" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M9 8.5C9 7.67 8.33 7 7.5 7H2.5C1.67 7 1 7.67 1 8.5C1 9.33 1.67 10 2.5 10H7.5C8.33 10 9 9.33 9 8.5Z" stroke="#260077" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M7.5 4H9V2.5C9 1.67 8.33 1 7.5 1C6.67 1 6 1.67 6 2.5C6 3.33 6.67 4 7.5 4Z" stroke="#260077" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>  Trazas alergenas que puede contener: <i class="titulo8">{{producto.trazas}}</i></h2>
{{/if}}

            <div class="list justify-center ms-lg-5" >              
              {{#each producto.elementos}}              
              <img  src=/images/{{this}}-rojo.png>              
              {{/each}}          
              {{#each producto.trazas}}
              <img src=/images/{{this}}-amarillo.png>
              {{/each}}          
            </div>
          </div>
          <br>

        
          {{#if user}}
          {{else}}
        
          <div class="col-11 gy-2" align="CENTER">
            <h2 class="titulo7" align="CENTER">¡Inicia sesión para ver los sustitutos!</h2>
            <a href="/usuarios/signin"><button class="btn btn-warning titulo4">Ingresar</button></a>
          </div>
          {{/if}}
          {{#if user}}
          {{#if prodNoConsumible}}
          <h2 class="gy-4 titulo7 p-2"> <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M13.5 9C12.67 9 12 8.33 12 7.5V2.5C12 1.67 12.67 1 13.5 1C14.33 1 15 1.67 15 2.5V7.5C15 8.33 14.33 9 13.5 9Z" stroke="#260077" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M19.5 9H18V7.5C18 6.67 18.67 6 19.5 6C20.33 6 21 6.67 21 7.5C21 8.33 20.33 9 19.5 9Z" stroke="#260077" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M8.5 13C9.33 13 10 13.67 10 14.5V19.5C10 20.33 9.33 21 8.5 21C7.67 21 7 20.33 7 19.5V14.5C7 13.67 7.67 13 8.5 13Z" stroke="#260077" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M2.5 13H4V14.5C4 15.33 3.33 16 2.5 16C1.67 16 1 15.33 1 14.5C1 13.67 1.67 13 2.5 13Z" stroke="#260077" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M13 13.5C13 12.67 13.67 12 14.5 12H19.5C20.33 12 21 12.67 21 13.5C21 14.33 20.33 15 19.5 15H14.5C13.67 15 13 14.33 13 13.5Z" stroke="#260077" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M14.5 18H13V19.5C13 20.33 13.67 21 14.5 21C15.33 21 16 20.33 16 19.5C16 18.67 15.33 18 14.5 18Z" stroke="#260077" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M9 8.5C9 7.67 8.33 7 7.5 7H2.5C1.67 7 1 7.67 1 8.5C1 9.33 1.67 10 2.5 10H7.5C8.33 10 9 9.33 9 8.5Z" stroke="#260077" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M7.5 4H9V2.5C9 1.67 8.33 1 7.5 1C6.67 1 6 1.67 6 2.5C6 3.33 6.67 4 7.5 4Z" stroke="#260077" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>  Compatibilidad: <i class="sad"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="22" height="22" fill="#E30613"><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M0 256C0 397.4 114.6 512 256 512s256-114.6 256-256S397.4 0 256 0S0 114.6 0 256zm240 80c0-8.8 7.2-16 16-16c45 0 85.6 20.5 115.7 53.1c6 6.5 5.6 16.6-.9 22.6s-16.6 5.6-22.6-.9c-25-27.1-57.4-42.9-92.3-42.9c-8.8 0-16-7.2-16-16zm-80 80c-26.5 0-48-21-48-47c0-20 28.6-60.4 41.6-77.7c3.2-4.4 9.6-4.4 12.8 0C179.6 308.6 208 349 208 369c0 26-21.5 47-48 47zM303.6 208c0-17.7 14.3-32 32-32s32 14.3 32 32s-14.3 32-32 32s-32-14.3-32-32zm-128 32c-17.7 0-32-14.3-32-32s14.3-32 32-32s32 14.3 32 32s-14.3 32-32 32z"/></svg>
            Usted NO puede consumirlo </i>   
            {{else}} <i class="feliz"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="22" height="22" fill="#00A507"><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M256 512c141.4 0 256-114.6 256-256S397.4 0 256 0S0 114.6 0 256S114.6 512 256 512zM164.1 325.5C182 346.2 212.6 368 256 368s74-21.8 91.9-42.5c5.8-6.7 15.9-7.4 22.6-1.6s7.4 15.9 1.6 22.6C349.8 372.1 311.1 400 256 400s-93.8-27.9-116.1-53.5c-5.8-6.7-5.1-16.8 1.6-22.6s16.8-5.1 22.6 1.6zM208.4 208c0 17.7-14.3 32-32 32s-32-14.3-32-32s14.3-32 32-32s32 14.3 32 32zm92.4 25.6c-5.3 7.1-15.3 8.5-22.4 3.2s-8.5-15.3-3.2-22.4c30.4-40.5 91.2-40.5 121.6 0c5.3 7.1 3.9 17.1-3.2 22.4s-17.1 3.9-22.4-3.2c-17.6-23.5-52.8-23.5-70.4 0z"/></svg>
             Usted puede consumirlo </i> {{/if}}</i></h2>
     
          
          <h2>Sustitutos</h2>
    <div class="cols2">
       {{#if productoSus}}                 
            {{#each productoSus}}
            <center>
                <div class="columnaCard" ontouchstart="this.classList.toggle('hover');">
                    <div class="containerCard">
                        <div class="frontCard" style="background-image:url({{imagenPrincipal}})">
                            
                        </div>
                        <div class="backCard" style="background-image: url({{imagenPrincipal}});">
                            <div class="innerCard">
                                

                                
                                <div class="buttonCard" >
                                    
                                    <form action="/producto/edit/{{_id}}" method="">
                                        <button class="custom-btn btn-9 mb-2" type="submit">Editar</button>
                                    </form>

                                    <form action="/producto/delete/{{_id}}?_method=DELETE" method="POST">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <button class="custom-btn btn-7 mb-2"  type="sumbmit">Eliminar</button>
                                    </form>
                                    
                                    <form action="/producto/ver/{{_id}}">
                                        <button class="custom-btn btn-8 mb-2" type="submit">Ver</button>
                                    </form>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                </center>
            {{/each}}
        {{else}}
            <p>No hay ningun dulce sustituto D:</p>
        {{/if}}
        {{/if}}
    </div>
        </div>
      </div>

  </div>  
</section>
<section>
    
    <div id="wrapper">
            <div class="water-drop"></div>
            <div class="button button-floating"></div>
            <div class="button-floating-shadow"></div>
            <div class="button button-sub" data-color="purple"></div>
            <div class="button button-sub" data-color="green"></div>
            <div class="button button-sub" data-color="pink"></div>
            <div class="button button-sub" data-color="indigo"></div>
        </div>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $(".button-floating").click(function() {
                    var $wrapper = $("#wrapper");

                    if (!$wrapper.hasClass("button-floating-clicked"))
                    {
                        $wrapper.attr("class", "center");
                        $wrapper.toggleClass("button-floating-clicked-out");
                    }

                    $wrapper.toggleClass("button-floating-clicked");

                    $(".button-sub").click(function() {
                        var color = $(this).data("color");

                        $wrapper.attr("class", "center button-floating-clicked button-floating-clicked-out");
                        $wrapper.addClass("button-sub-" + color + "-clicked");
                    });
                });
            });
        </script>
</section>
