<h1>{{producto.nombre}}</h1>
<div>
    <div>imagen de producto</div>
    <div>imagen de sus componentes</div>
    <p>Elementos: {{producto.elementos}}</p>
    <p>Categoria: {{producto.categoria}}</p>    
</div>
<div>
    <h2>Sustitutos</h2>
    <div class="child">
        {{#if productoSus}}                 
            {{#each productoSus}}
                <div class="card">
                        <h4>{{nombre}}</h4>
                        <p>{{marca}}</p>
                        <p>{{imagenes}}</p>
                        <p>{{elementos}}</p>
                        <p>{{categoria}}</p>
                        <a href="/producto/ver/{{_id}}"><i>icono_ver</i></a>
                </div>
            {{/each}}
        {{else}}
            <p>No hay sustitutos en datos...</p>
        {{/if}}
    </div>
</div>